body {
  color: #333;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.offer-action-btn {
  border-color: #60b22b;
  border-radius: 25px;
  color: #60b22b;
  font-weight: 600;
  text-transform: uppercase;
}